<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <ResourceId>/subscriptions/259ee95a-359b-4896-b31e-05896905d5d7/resourcegroups/br-recurso-kt/providers/Microsoft.Web/sites/DRApiV1</ResourceId>
    <ResourceGroup>br-recurso-kt</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://drapiv1.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <ContainerResourceId>/subscriptions/259ee95a-359b-4896-b31e-05896905d5d7/resourcegroups/br-recurso-kt/providers/Microsoft.ContainerRegistry/registries/registry20200826034842</ContainerResourceId>
    <ContainerResourceName>registry20200826034842</ContainerResourceName>
    <Subscription>Avaliação Gratuita</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>https://registry20200826034842.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <PublishProvider>AppServiceLinux</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>173f5fba-9e6d-426d-9bca-38afd000d373</ProjectGuid>
  </PropertyGroup>
</Project>