################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DojoRefactoring/v16/Server/sqlite3
**/bin
**/obj
bin/
obj/
Debug/
Release/